body{
    background-color: rgba(0, 0, 0, 0.921)
}
@tailwind base;
@tailwind components;
@tailwind utilities;
#backiteminfo{
 
  
    position: fixed;
    z-index: -1;
    top: 0px;
    /* left: 0px; */
    width: 100vw;
    
    /* height: 200%; */
    opacity: 0.2;
    
    }